#lxdm {
	background-image: url("wave.svg");
	background-repeat: round;
}

#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font: 12px Sans;
	color: #ffffff;
}

#prompt {
	font: 14px Sans;
	color: #000000;
}

#bottom_pane label,
#bottom_pane GtkLabel {
	font: 12px Sans;
	color: #9E9D9B;
}
